<a href="https://colab.research.google.com/github/abdulhamidll/Data-Science/blob/main/malumotlarni_filtrlash.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from pprint import pprint as print

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/merc.csv')
df

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,SLK,2005,5200,Automatic,63000,Petrol,325,32.1,1.8
1,S Class,2017,34948,Automatic,27000,Hybrid,20,61.4,2.1
2,SL CLASS,2016,49948,Automatic,6200,Petrol,555,28.0,5.5
3,G Class,2016,61948,Automatic,16000,Petrol,325,30.4,4.0
4,G Class,2016,73948,Automatic,4000,Petrol,325,30.1,4.0
...,...,...,...,...,...,...,...,...,...
13114,C Class,2020,35999,Automatic,500,Diesel,145,55.4,2.0
13115,B Class,2020,24699,Automatic,2500,Diesel,145,55.4,2.0
13116,GLC Class,2019,30999,Automatic,11612,Diesel,145,41.5,2.1
13117,CLS Class,2019,37990,Automatic,2426,Diesel,145,45.6,2.0
13118,S Class,2019,54999,Automatic,2075,Diesel,145,52.3,2.9

In [5]:
df['model'].unique()

array([' SLK', ' S Class', ' SL CLASS', ' G Class', ' GLE Class',
       ' GLA Class', ' A Class', ' B Class', ' GLC Class', ' C Class',
       ' E Class', ' GL Class', ' CLS Class', ' CLC Class', ' CLA Class',
       ' V Class', ' M Class', ' CL Class', ' GLS Class', ' GLB Class',
       ' X-CLASS', '180', ' CLK', ' R Class', '230', '220', '200'],
      dtype=object)

In [6]:
models = df['model'].unique()
models.sort()
models

array([' A Class', ' B Class', ' C Class', ' CL Class', ' CLA Class',
       ' CLC Class', ' CLK', ' CLS Class', ' E Class', ' G Class',
       ' GL Class', ' GLA Class', ' GLB Class', ' GLC Class',
       ' GLE Class', ' GLS Class', ' M Class', ' R Class', ' S Class',
       ' SL CLASS', ' SLK', ' V Class', ' X-CLASS', '180', '200', '220',
       '230'], dtype=object)

In [7]:
df['year'].unique()

array([2005, 2017, 2016, 2011, 2018, 2012, 2019, 2020, 2014, 2015, 2006,
       2010, 2004, 2008, 2013, 2007, 2009, 2003, 2001, 2002, 1998, 2000,
       1997, 1999, 1970])

In [8]:
df['fuelType'].unique()

array(['Petrol', 'Hybrid', 'Diesel', 'Other'], dtype=object)

In [9]:
df['model'].value_counts()

 C Class      3747
 A Class      2561
 E Class      1953
 GLC Class     960
 GLA Class     847
 B Class       591
 CL Class      511
 GLE Class     461
 SL CLASS      260
 CLS Class     237
 V Class       207
 S Class       197
 GL Class      121
 SLK            95
 CLA Class      86
 X-CLASS        82
 M Class        79
 GLS Class      74
 GLB Class      19
 G Class        15
 CLK             7
 CLC Class       3
 R Class         2
180              1
230              1
220              1
200              1
Name: model, dtype: int64

In [11]:
df['transmission'].value_counts()

Semi-Auto    6848
Automatic    4825
Manual       1444
Other           2
Name: transmission, dtype: int64

In [12]:
models = [' C Class', ' GLB Class']
filter = df['model'].isin(models)
filter

0        False
1        False
2        False
3        False
4        False
         ...
13114     True
13115    False
13116    False
13117    False
13118    False
Name: model, Length: 13119, dtype: bool

In [13]:
df[filter]

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
16,C Class,2017,19890,Automatic,30281,Diesel,150,60.1,2.1
19,C Class,2014,15701,Automatic,20498,Diesel,20,64.2,2.1
20,C Class,2019,26601,Automatic,9949,Diesel,150,64.2,2.0
21,C Class,2016,17672,Automatic,31656,Diesel,30,64.2,2.1
29,C Class,2016,19328,Automatic,25042,Diesel,30,64.2,2.1
...,...,...,...,...,...,...,...,...,...
13106,C Class,2019,27999,Automatic,6537,Petrol,145,44.1,2.0
13107,C Class,2019,24999,Automatic,6064,Diesel,145,61.4,2.0
13112,C Class,2019,30399,Automatic,5000,Diesel,145,61.4,2.0
13113,C Class,2020,30999,Automatic,1000,Diesel,145,64.2,2.0
13114,C Class,2020,35999,Automatic,500,Diesel,145,55.4,2.0

In [15]:
filter = df['fuelType'].isin(['Diesel', 'Petrol'])
df[filter]

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,SLK,2005,5200,Automatic,63000,Petrol,325,32.1,1.8
2,SL CLASS,2016,49948,Automatic,6200,Petrol,555,28.0,5.5
3,G Class,2016,61948,Automatic,16000,Petrol,325,30.4,4.0
4,G Class,2016,73948,Automatic,4000,Petrol,325,30.1,4.0
5,SL CLASS,2011,149948,Automatic,3000,Petrol,570,21.4,6.2
...,...,...,...,...,...,...,...,...,...
13114,C Class,2020,35999,Automatic,500,Diesel,145,55.4,2.0
13115,B Class,2020,24699,Automatic,2500,Diesel,145,55.4,2.0
13116,GLC Class,2019,30999,Automatic,11612,Diesel,145,41.5,2.1
13117,CLS Class,2019,37990,Automatic,2426,Diesel,145,45.6,2.0
13118,S Class,2019,54999,Automatic,2075,Diesel,145,52.3,2.9

In [16]:
df

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,SLK,2005,5200,Automatic,63000,Petrol,325,32.1,1.8
1,S Class,2017,34948,Automatic,27000,Hybrid,20,61.4,2.1
2,SL CLASS,2016,49948,Automatic,6200,Petrol,555,28.0,5.5
3,G Class,2016,61948,Automatic,16000,Petrol,325,30.4,4.0
4,G Class,2016,73948,Automatic,4000,Petrol,325,30.1,4.0
...,...,...,...,...,...,...,...,...,...
13114,C Class,2020,35999,Automatic,500,Diesel,145,55.4,2.0
13115,B Class,2020,24699,Automatic,2500,Diesel,145,55.4,2.0
13116,GLC Class,2019,30999,Automatic,11612,Diesel,145,41.5,2.1
13117,CLS Class,2019,37990,Automatic,2426,Diesel,145,45.6,2.0
13118,S Class,2019,54999,Automatic,2075,Diesel,145,52.3,2.9

In [18]:
df[(df.year>2018) & (df.price<20000)]

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
89,A Class,2019,18118,Automatic,15561,Diesel,145,68.9,1.5
90,A Class,2019,17990,Automatic,14783,Diesel,145,65.7,1.5
93,A Class,2019,19840,Automatic,6781,Petrol,145,28.5,1.3
94,A Class,2019,18241,Automatic,15722,Diesel,145,65.7,1.5
95,A Class,2019,18141,Automatic,15689,Diesel,145,65.7,1.5
...,...,...,...,...,...,...,...,...,...
12852,C Class,2019,19750,Automatic,12498,Petrol,145,46.3,1.5
12961,A Class,2019,19888,Manual,9071,Petrol,145,53.3,1.3
12993,B Class,2019,19345,Automatic,14082,Petrol,145,45.6,1.3
13073,B Class,2019,19350,Automatic,13674,Petrol,145,45.6,1.3
13111,B Class,2019,19344,Automatic,15257,Petrol,145,45.6,1.3

In [19]:
df[df.transmission=="Manual"]

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
34,A Class,2019,23184,Manual,1173,Petrol,145,44.8,1.3
56,A Class,2011,3440,Manual,74000,Diesel,150,54.3,2.0
61,E Class,2010,6980,Manual,79000,Petrol,300,35.3,1.8
63,E Class,2011,5740,Manual,115000,Diesel,160,52.3,2.1
81,SLK,2010,7495,Manual,59147,Petrol,300,36.2,1.8
...,...,...,...,...,...,...,...,...,...
13011,V Class,2013,20000,Manual,58518,Diesel,305,38.7,2.1
13014,B Class,2017,13950,Manual,5878,Diesel,20,68.9,1.5
13015,GLA Class,2017,17000,Manual,26000,Petrol,145,48.7,1.6
13024,A Class,2016,16500,Manual,16984,Diesel,30,62.8,2.1
13034,A Class,2017,13391,Manual,38172,Diesel,145,72.4,1.5